/* = Media Queries = */
/*= XS (Mobile First)=*/
@media only screen and (max-width: 360px) {
  .landing__video {
    width: 100%;
    position: absolute;
    z-index: 1;
    height: 100vh;
  }
  .landing__video .video {
    width: 100%;
    height: 100%;
    background-color: var(--clr-black-2);
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(0.5);
  }
  .oneVideo {
    display: none;
  }
  .landing__page {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr 1fr 10px;
    gap: 0.5rem;
    position: relative;
    z-index: 2;
    grid-template-areas:
      "header"
      "main"
      "main"
      "footer";
  }
  .header {
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    padding: 1rem;
    grid-area: header;
  }
  .header .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav__logo {
    width: 4rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
  }
  .logo {
    width: 100%;
    height: 100%;
    background-image: url("/src/assets/icon/img5.svg");
    object-fit: contain;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .nav__list {
    display: none;
  }
  .nav__user {
    width: 25px;
    height: 25px;
    position: relative;
    left: 10rem;
  }
  .user {
    width: 100%;
    height: 100%;
    background-image: url("/src/assets/img/movie20.jpg");
    object-fit: cover;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
  }
  .active {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 5px;
  }
  .active .menu__active {
    font-size: 1.5rem;
    color: var(--clr-secondary);
  }
  .menu__active:active {
    transform: scale(0.9);
  }
  .nav__media {
  }
  .nav__on {
    display: none;
  }
  /*Clave => active*/
  .nav__media.active {
    width: 100%;
    height: 50vh;
    position: relative;
    /*  border: 2px solid white; */
    border-radius: 0px;
    top: 1rem;
    background-color: var(--clr-black-2);
  }
  .media-list {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .media-list a {
    color: var(--clr-secondary);
    font-size: 2rem;
    font-weight: 500;
  }
  .media-list a:hover {
    color: #fff;
  }
  /*===== Main =======*/
  .main {
    grid-area: main;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 0.5rem;
    margin: 0 auto;
    flex-wrap: wrap;
  }
  .main__images {
    grid-row: 1 / 2;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .main__images .images {
    background-image: url("/src/assets/img/movie4.jpg");
    object-fit: cover;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 4px solid #ee00cc;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    /* background-color: #0cf2b1;
background-image: linear-gradient(62deg, #0cf2b1 0%, #ee00cc 100%); */
  }
  .main__text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    grid-row: 2 / 3;
  }
  .main__text--title {
    text-align: center;
  }
  .main__text--title h1 {
    color: #fff;
    font-size: 2rem;
    margin-bottom: 0;
  }
  .main__text--paragraph {
    text-align: center;
    width: 80%;
    margin: 0 auto;
  }
  .main__text--paragraph p {
    font-size: 0.8rem;
    color: var(--clr-gray);
    margin-top: 1rem;
  }
  .main__btn {
    width: 100%;
    margin: 0 auto;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  /*====== Footer ==========*/
  .footer {
    display: none;
  }
  .main__search {
    display: none;
  }
  .main__slider {
    display: none;
  }
}
/*= SM  (Mobile First) =*/
@media only screen and (max-width: 480px) {
  .main__slider {
    display: none;
  }
}
@media only screen and (min-width: 479px) and (max-width: 767px) {
}
/*= MD  (Tablet) ============================*/
@media only screen and (min-width: 768px) {
  .landing__video {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 1;
  }
  .video {
    display: none;
  }
  .landing__video .oneVideo {
    width: 100%;
    height: 100%;
  }
  video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    filter: brightness(0.5);
  }
  .landing__page {
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 6rem 1fr 1fr 2rem;
    gap: 1rem;
    grid-template-areas:
      "nav   nav    nav"
      "main main main "
      "main main main "
      "footer footer footer";
    /*  background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px); */
  }
  .header {
    grid-area: nav;
    width: 100%;
    height: 100%;
    padding: 1rem;
  }
  .header .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav .nav__logo {
    width: 8rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo {
    background-image: url("/src/assets/icon/img5.svg");
    object-fit: contain;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
  }
  .nav__list {
    width: 30rem;
  }
  .nav__list .list-movie {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .list-movie a {
    font-size: 1.2rem;
    color: var(--clr-white2);
    font-weight: 700;
  }
  .list-movie a:hover {
    color: var(--clr-gray);
  }
  .list-movie a::after {
    content: " ";
    display: flex;
    width: 50%;
    border: 2px solid var(--clr-secondary);
    margin-top: 0.5rem;
  }
  .nav__user {
    width: 30px;
    height: 30px;
    position: relative;
    left: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav__user .user {
    object-fit: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/src/assets/img/movie21.jpg");
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  .nav__on {
    position: relative;
    right: 1rem;
  }
  .active {
    display: none;
  }
  .nav__media {
    display: none;
  }
  /* =======Main==========*/
  .main {
    grid-area: main;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0.5rem;
  }
  .main__images {
    display: none;
  }
  .main__text {
    grid-column: 1/ 4;
    grid-row: 1 / 4;
    width: 100%;
    height: 100%;
  }
  .main__text--title {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 7rem;
    position: relative;
    bottom: 10rem;
  }
  .main__text--title h1 {
    font-size: 5rem;
    color: #fff;
    font-weight: 900;
  }
  .main__text--paragraph {
    position: relative;
    bottom: 450px;
    width: 60%;
    left: 8rem;
  }
  .main__text--paragraph p {
    color: #fff;
    filter: opacity(0.5);
    font-size: 1rem;
    font-weight: 500;
  }
  .main__search {
    grid-column: 1 / 4;
    grid-row: 1 / 3;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: flex-end;
    bottom: 8rem;
  }
  .main__search input {
    padding: 1rem;
    border-radius: 0.2rem;
    outline: none;
    border: none;
    background: #fff;
    margin-left: 8rem;
    width: 200px;
    opacity: 50%;
  }
  .main__btn {
    display: none;
  }
  .main__slider {
    grid-column: 1 / 5;
    grid-row: 2 / 4;
    width: 100%;
    height: 100%;
    position: relative;
  }
  .swiper {
    width: 600px;
    height: 225px;
    top: 100px;
  }
  .swiper-slide {
    text-align: center;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .swiper-slide.one {
    width: 100%;
    height: 100%;
    background-image: url("/src/assets/img/movie7.jpg");
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1rem;
  }
  .swiper-slide.two {
    width: 100%;
    height: 100%;
    background-image: url("/src/assets/img/movie4.jpg");
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1rem;
  }
  .swiper-slide.three {
    width: 100%;
    height: 100%;
    background-image: url("/src/assets/img/movie16.jpg");
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1rem;
  }
  .swiper-slide.four {
    width: 100%;
    height: 100%;
    background-image: url("/src/assets/img/movie19.jpg");
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1rem;
  }
  .swiper-slide.five {
    width: 100%;
    height: 100%;
    background-image: url("/src/assets/img/movie23.jpg");
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1rem;
  }
  .swiper-slide.six {
    width: 100%;
    height: 100%;
    background-image: url("/src/assets/img/movie26.jpg");
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1rem;
  }
  .swiper-slide.seven {
    width: 100%;
    height: 100%;
    background-image: url("/src/assets/img/movie22.jpg");
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1rem;
  }
  .swiper-slide.eight {
    width: 100%;
    height: 100%;
    background-image: url("/src/assets/img/movie24.jpg");
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1rem;
  }
  .footer {
    grid-area: footer;
    width: 100%;
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer p {
    font-size: .8rem;
    color: var(--clr-white); 
  filter: opacity(0.5);
  font-weight: 500; 
}
@media only screen and (min-width: 769px) and (max-width: 1023px) {
}
/*=  LG (Laptop) =*/
@media only screen and (min-width: 1024px) {
}
/*=  LG (Laptop and Screen) =*/
@media only screen and (min-width: 1440px) {
}
/*=  LG (Laptop and Screen and More) =*/
@media only screen and (min-width: 1920px) {
}
/* Design Model */
@media screen and (orientation: landscape) {
  // Styles for landscape mode.
  body::after {
    content: "Landscape";
  }
}
@media screen and (orientation: portrait) {
  // Styles for portrait mode.
  body::after {
    content: "Portrait";
  }
}
