/*====== Import Components========*/
@import url("../movieWeb/css/queryMovie.css");
@import url("../movieWeb/css/componentMovie.css");
/*======Root========*/
:root {
  /*=Colors=*/
  --clr-white: #fff;
  --clr-black: #000;
  --clr-ux-1: #5cb9f2;
  --clr-ux-2: #6dccf2;
  --clr-ux-3: #03a62c;
  --clr-ux-4: #8fd994;
  --clr-ux-white: #f2f2f2;
  --clr-ux-black: #333;
  --clr-yellow: #ffd602;
  --clr-blue: #036cb6;
  --clr-red: #d5040a;
  --color-scheme: normal;
  --color-scheme: light;
  --color-scheme: dark;
  --color-scheme: light dark;
  /*=Fonts=*/
  --font-size-title: 2.4rem;
  --font-size-titTwo: 1.8rem;
  --font-size-medium: 1.6rem;
  --font-size-small: 1.2rem;
  /*=Typography=*/
  --font-family-Poppins: "Poppins", sans-serif;
  --font-family-Play: "Play", sans-serif;
  /*=margin=*/
  --margin-top: 2rem;
  --margin-left: 1rem;
  --margin-right: 1rem;
  --margin--bottom: 2rem;
}
/* === General CSS ===*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
/* =Animation =*/
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
ul {
  list-style: none;
}
a {
  cursor: pointer;
  text-decoration: none;
}
img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
p,
span {
  letter-spacing: 0.1rem;
}
h1 {
  text-transform: uppercase;
  font-weight: 900;
}
body {
  width: 100%;
  font-family: var(--font-family-Poppins);
  background: #000;
}
.movie-logo {
  color: #f4f4f4;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.nav__list {
  margin: 0;
  padding: 0;
  display: flex;
}
.nav__link {
  --spacing: 1rem;
  color: #f2f2f2;
  display: inline-block;
  font-family: var(--font-family-Play);
}
.nav__link::after {
  content: " ";
  background-color: #036cb6;
}
.nav__link--btn {
  border: 1.5px solid #036cb6;
  border-radius: 1rem;
  margin-left: 1rem;
  letter-spacing: 0.1rem;
}
.nav__link--btn:hover {
  background: var(--clr-ux-2);
  color: #f2f2f2;
  border-color: #333;
}
.nav__link--btn--hight {
  background-color: #5cb9f2;
  color: #f4f4f4;
  border-color: #036cb6;
}
.nav__link--btn--hight:hover {
  background: #000;
  border-color: #fff;
}
/*= CSS = Javascript =*/
.nav-scrolled {
  color: #111;
  background: #036cb6;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
}
/*=Main=*/
#main {
  width: 100%;
  background: #111;
}
.main__principal {
  width: 100%;
}
.principal__add {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.principal__duration {
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.duration-date {
  padding: 0.5rem;
  color: #d5040a;
  font-size: 1rem;
}
.duration-studio {
  filter: opacity(0.5);
  font-size: 1.8rem;
}
.principal__title {
  margin-bottom: 2rem;
}
.title-one {
  padding: 0.5rem;
}
.title-text {
  padding: 0.5rem;
  letter-spacing: 0.1rem;
  filter: opacity(0.5);
}
.principal__btn {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}
.btn-one {
  padding: 1rem;
  border-bottom-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  background: var(--clr-red);
  outline: none;
  border: none;
  color: #fff;
  cursor: pointer;
}
.btn-one:active {
  transform: scale(0.9);
}
.btn-two {
  padding: 1rem;
  border-bottom-right-radius: 1.5rem;
  border-top-left-radius: 1.5rem;
  background: #f2f2f2;
  outline: none;
  border: none;
  color: #000;
  cursor: pointer;
}
.btn-two:active {
  transform: scale(0.9);
}
.main__trends {
  width: 100%;
  color: #f2f2f2;
  padding: 1rem;
}
.border-One {
  position: relative;
  background: #36393a;
}
.trends-list {
  width: 100%;
  cursor: pointer;
}
.trends-principal {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.trends-principal a {
  color: #fff;
}
.trends-principal a:hover {
  color: #036cb6;
}
.trends-principal a i {
  color: #fff;
}
.trends-principal i:hover {
  color: #5cb9f2;
}
.border-two {
  position: relative;
  background: #36393a;
}
.trends-principal .active-movie {
  font-size: 2rem;
}
.container {
  width: 100%;
  padding: 1rem;
  margin-bottom: 2rem;
}
.swiper {
  width: 100%;
}
.swiper-slide {
  width: 100%;
  object-fit: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.swiper-slide:active {
  filter: brightness(0.5);
}
.swiper-slide:hover {
  transform: scale(1.1);
}
.swiper-button-next {
  color: #fff;
  font-weight: 900;
}
.swiper-button-prev {
  color: #fff;
  font-weight: 900;
}
.movie-data {
  width: 100%;
  position: relative;
  z-index: 5;
}
.movie-data .movie-name {
  color: #fff;
  margin: 0 auto;
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: 700;
}
.movie-data .data-year {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  padding: 0.5rem;
}
.data-year .year {
  color: #fff;
  filter: opacity(0.5);
}
.data-year a {
  color: #fff;
  font-size: 1.5rem;
}
.data-year a:active {
  transform: scale(0.9);
}
/*Video Marvel Container*/
.container__video {
  margin: 2rem auto;
  width: 100%;
  display: grid;
}
.info-movie {
  grid-area: info;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.movie-text {
  flex-direction: column;
  padding: 1rem;
  margin: 0 auto;
}
.movie-text span {
  color: #5cb9f2;
  filter: opacity(0.5);
  padding: 1rem;
}
.movie-text h2 {
  color: #fff;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.movie-text p {
  color: #f4f4f4;
  filter: opacity(0.5);
  display: flex;
  align-items: flex-start;
  width: 100%;
  margin: 1rem auto;
}
.video-play {
  grid-area: video;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
}
.video-slide {
  grid-area: slide;
  width: 100%;
  height: 100%;
}
.play-up {
  position: relative;
  z-index: 10;
  color: #f2f2f2;
  border: 3px solid #fff;
  font-weight: 900;
  border-radius: 20%;
  padding: 1.5rem;
}
.play-up:hover {
  border: 4px solid var(--clr-ux-2);
}
.play-up:active {
  transform: scale(0.9);
}
/*= API MARVEL CONTAINER Character =*/
.container__Marvel {
  margin: 3rem auto;
  padding: 1rem;
}
.container__Marvel .marvel-img {
  margin: 0 auto;
  position: relative;
  z-index: 2;
}
.marvel-img img {
  filter: opacity(0.5);
}
.marvel {
  position: relative;
  z-index: 5;
}
.marvel-banner {
  color: #fff;
  font-weight: 900;
  padding: 1rem;
}
/*Marvel Gallery */
.gallery__section {
  margin: 0 auto;
  margin-top: 1rem;
  display: flex;
  align-items: center;
}
.gallery-section {
  color: #fff;
  font-weight: 900;
  /* margin-left: 110px; */
}
.div-gallery {
  border: 2px solid #fff;
  filter: brightness(0.5);
  margin-top: 1rem;
  border-radius: 1rem;
}

.marvel__gallery {
  width: 100%;
  margin: 0 auto;
  display: grid;
  padding: 1rem;
}
.gallery-1 {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  width: 100%;
  min-width: 240px;
  /* max-width: 320px; */
  /* height: 100%; */
  padding: 1rem;
  overflow: hidden;
  cursor: pointer;
}
.gallery-1 img {
  transition: all 0.8s;
  box-sizing: border-box;
  max-width: 100%;
  border-radius: 1rem;
}
.gallery-1:hover img {
  transform: scale(1.3) rotate(5deg);
}
.gallery-2 {
  padding: 1rem;
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  width: 100%;
  /*  height: 100%; */
  min-width: 240px;
  overflow: hidden;
  cursor: pointer;
}
.gallery-2 img {
  transition: all 0.8s;
  box-sizing: border-box;
  max-width: 100%;
  border-radius: 1rem;
}
.gallery-2:hover img {
  transform: scale(1.3) rotate(5deg);
}
.gallery-3 {
  padding: 1rem;
  grid-column: 4 / 5;
  grid-row: 1 / 2;
  width: 100%;
  /*  height: 100%; */
  min-width: 240px;
  overflow: hidden;
  cursor: pointer;
}
.gallery-3 img {
  transition: all 0.8s;
  box-sizing: border-box;
  max-width: 100%;
  border-radius: 1rem;
}
.gallery-3:hover img {
  transform: scale(1.3) rotate(5deg);
}
.gallery-4 {
  padding: 1rem;
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  width: 100%;
  /*  height: 100%; */
  min-width: 240px;
  overflow: hidden;
  cursor: pointer;
}
.gallery-4 img {
  transition: all 0.8s;
  box-sizing: border-box;
  max-width: 100%;
  border-radius: 1rem;
}
.gallery-4:hover img {
  transform: scale(1.3) rotate(5deg);
}
.gallery-5 {
  padding: 1rem;
  grid-column: 4 / 5;
  grid-row: 2 / 3;
  width: 100%;
  height: 100%;
  min-width: 240px;
  overflow: hidden;
  cursor: pointer;
}
.gallery-5 img {
  transition: all 0.8s;
  box-sizing: border-box;
  max-width: 100%;
  border-radius: 1rem;
}
.gallery-5:hover img {
  transform: scale(1.3) rotate(5deg);
}
/*Footer*/
.footer {
  margin: 0 auto;
  width: 100%;
  background: #036cb6;
  padding: 2rem;
}
.footer__section {
  width: 100%;
  display: grid;
}
.footer-title {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-call {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.footer-call ul {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer-call ul a {
  color: #fff;
  font-weight: 700;
}
.footer-call a:hover {
  filter: opacity(0.5);
}
.footer__social {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  width: 100%;
}
.footer__social h3 {
  padding: 1rem;
  width: 100%;
  color: #f2f2f2;
  text-align: center;
}
.footer__social ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}
.footer__social a {
  color: #fff;
  display: flex;
  justify-self: center;
  cursor: pointer;
}
.footer__social a i {
  margin-right: 2rem;
}
.footer__social a i:hover {
  color: #5cb9f2;
  transform: translateY(-5px);
}
.footer__social a:active {
  transform: scale(0.9);
}
/*Nav-scrolled*/
