/*=============Mobile============*/
@media screen and (max-width: 360px) {
}
@media screen and (max-width: 480px) {
  .header {
  }
}
@media screen and (min-width: 481px) and (max-width: 767px) {
}
/*============= Laptop and  Tablet============*/
@media screen and (min-width: 768px) {
  .header {
    position: fixed;
    /*  background: transparent; */
    background: #000;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    padding: 2rem 3rem;
    transition: background 250ms ease-in;
  }
  .movie-logo {
    font-weight: 900;
    font-size: 2.5rem;
    font-weight: 900;
  }
  .nav__link {
    padding: calc(var(--spacing) / 2) var(--spacing);
    position: relative;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
  }
  .nav__link::after {
    position: absolute;
    bottom: 0;
    left: var(--spacing);
    right: var(--spacing);
    height: 2px;
    transform: scaleX(0);
    transition: transform 150ms ease-in-out;
  }
  .nav__link:hover::after {
    transform: scale(1);
  }
  .nav__link--btn {
    padding: 0.75rem 1.5rem;
    transition: background 250ms ease-in-out;
  }

  /*=Main=*/
  .main__principal {
    min-height: 50.5rem;
    color: #fff;
    background: linear-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
      url("/src/assets/img/dr.strange_darkness.jpg");
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    display: flex;
    margin-bottom: 2rem;
    margin: 0 auto;
  }
  .principal__add {
    width: 60%;
    height: 50.5rem;
    margin-left: 3rem;
  }
  .principal__duration {
    width: 350px;
  }
  .title-one {
    font-size: 3.5rem;
  }
  .title-text {
    font-size: 1rem;
  }
  .principal__btn {
    width: 300px;
  }
  .btn-one {
    width: 100px;
    font-size: 1.5rem;
    font-weight: 700;
  }
  .btn-two {
    width: 100px;
    font-size: 1.5rem;
    font-weight: 700;
  }
  .border-One {
    width: 50px;
    border-radius: 1rem;
    padding: 0.2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .trends-list {
    height: 5rem;
  }
  .trends-principal {
    height: 100%;
  }
  .trends-principal a {
    font-size: 1rem;
    font-weight: 900;
  }
  .trends-principal a i {
    margin-right: 1rem;
  }
  .border-two {
    width: 100%;
    border-radius: 1rem;
    padding: 0.2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .container {
    outline: 2px solid #000;
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 300px;
  }
  .swiper {
    height: 100%;
  }
  .swiper-slide {
    height: 100%;
    border-radius: 1rem;
    border: none;
    outline: none;
    position: relative;
    z-index: 1;
  }
  .swiper-slide.one {
    background-image: url("/src/assets/img/avengersinfinitywa.jpg");
  }
  .swiper-slide.two {
    background-image: url("/src/assets/img/avengersendgame.jpg");
  }
  .swiper-slide.three {
    background-image: url("/src/assets/img/doctorstrangeinthemultiverseofmadness.jpg");
  }
  .swiper-slide.four {
    background-image: url("/src/assets/img/eternals.jpg");
  }
  .swiper-slide.five {
    background-image: url("/src/assets/img/blackpanther.jpg");
  }
  .swiper-slide.six {
    background-image: url("/src/assets/img/blackwidow.jpg");
  }
  .swiper-slide.seven {
    background-image: url("/src/assets/img/captainamericathefirstavenger.jpg");
  }
  .swiper-slide.eight {
    background-image: url("/src/assets/img/doctorstrange.jpg");
  }
  .swiper-slide.nine {
    background-image: url("/src/assets/img/thorragnarok.jpg");
  }
  .swiper-slide.ten {
    background-image: url("/src/assets/img/thor.jpg");
  }
  .swiper-slide.eleven {
    background-image: url("/src/assets/img/ironman.jpg");
  }
  .swiper-button-prev:active {
    filter: opacity(0.5);
  }
  .swiper-button-next:active {
    filter: opacity(0.5);
  }
  .movie-data {
    height: 100%;
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: flex-end;
  }
  .data-year {
    width: 100%;
  }
  .year {
    font-size: 1.2rem;
  }
  /*Container Two*/
  .swiper-slide.onePlus {
    background-image: url("/src/assets/img/ironman.jpg");
  }
  .swiper-slide.twoPlus {
    background-image: url("/src/assets/img/spider-manfarfromhome.jpg");
  }
  .swiper-slide.threePlus {
    background-image: url("/src/assets/img/shangchi.jpg");
  }
  .swiper-slide.fourPlus {
    background-image: url("/src/assets/img/thor.jpg");
  }
  .swiper-slide.fivePlus {
    background-image: url("/src/assets/img/blackwidow.jpg");
  }
  .swiper-slide.sixPlus {
    background-image: url("/src/assets/img/captainamericathefirstavenger.jpg");
  }
  .swiper-slide.sevenPlus {
    background-image: url("/src/assets/img/doctorstrange.jpg");
  }
  .swiper-slide.eightPlus {
    background-image: url("/src/assets/img/avengersendgame.jpg");
  }
  .swiper-slide.ninePlus {
    background-image: url("/src/assets/img/avengersinfinitywa.jpg");
  }
  .swiper-slide.tenPlus {
    background-image: url("/src/assets/img/theincrediblehulk.jpg");
  }
  .swiper-slide.elevenPlus {
    background-image: url("/src/assets/img/thorragnarok.jpg");
  }
  .swiper-slide.oneAdd {
    background-image: url("/src/assets/img/blackwidow.jpg");
  }
  .swiper-slide.onePlusExt {
    background-image: url("/src/assets/img/theincrediblehulk.jpg");
  }
  /*Video Marvel*/
  .container__video {
    height: 650px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
    /*  outline: 2px solid white; */
    grid-template-areas:
      "info  video   video"
      "info  video  video"
      "slide slide   slide";
  }
  .info-movie {
  }
  .movie-text {
    width: 100%;
  }
  .movie-text h2 {
    font-size: 2.4rem;
    padding: 1rem;
  }
  .movie-text p {
    font-size: 1.2rem;
  }
  .movie-text figure {
    width: 100%;
    height: 150px;
  }
  .movie-text figure img {
    object-fit: cover;
  }
  .video-play {
  }
  .play-one {
    width: 100%;
    height: 100%;
  }
  .play-one img {
    filter: brightness(0.3);
  }
  .play-up {
    font-size: 2rem;
    left: 50%;
    bottom: 50%;
    cursor: pointer;
  }
  .video-slide {
  }
  .swipVideo {
    display: flex;
    align-items: center;
  }
  .video-swipp {
    height: 50%;
  }

  /*Container Marvel*/
  .container__Marvel {
    width: 100%;
    height: 300px;
  }
  .marvel-img {
    width: 100%;
    height: 100%;
  }
  .marvel {
    width: 60%;
    bottom: 180px;
    left: 20px;
  }
  .marvel-banner {
    font-size: 2.5rem;
  }
  .marvel-btn {
    margin-left: 1.5rem;
  }
  /*Marvel Gallery*/
  .gallery__section {
    width: 100%;
    height: 50px;
  }
  .gallery__section {
    font-size: 2rem;
    flex-direction: column;
  }
  .gallery-section i {
    margin-right: 1rem;
  }
  .div-gallery {
    width: 90%;
  }
  .marvel__gallery {
    /* height: 600px; */
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 1rem;
    margin-top: 2rem;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
}
/*=============Screen All and 4k and 8k============*/
@media screen and (min-width: 1024px) {
}
@media screen and (min-width: 1440px) {
}
@media screen and (min-width: 1920px) {
}

/* Design Model ====================================================*/
@media screen and (orientation: landscape) {
  // Styles for landscape mode.
  body::after {
    content: "Landscape";
  }
}
@media screen and (orientation: portrait) {
  // Styles for portrait mode.
  body::after {
    content: "Portrait";
  }
}
